* {
    /* m0+p0+bx+ff */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 微軟正黑體;
}

body {
    background: #eee;
}

/* 橫幅 */
#banner {
    width: 100%;
    /* vh 螢幕高度 */
    height: 100vh;
    background-image: url(./img/banner.jpg);
    /* 背景-尺寸：填滿 - 50%、500px */
    background-size: cover;
    color: white;
    /* 背景-附著：固定 */
    background-attachment: fixed;
}

/* 首頁、關於我 導覽列 */
#banner nav, #banner-about nav {
    padding: 30px;  
}

#banner a, #banner-about a {
    color: white;
    /* 文字-裝飾：無 */
    text-decoration: none;
    font-size: 24px;
    padding: 0 30px;
    transition: 0.3s;
}

#banner a:hover, #banner-about a:hover {
    color: #aaa;
}

#banner p {
    /* 文字、行內 */
    text-align: center;
    margin-top: 250px;
    /* 透明度：值 - 0 ~ 1 */
    opacity: 0.7;
    font-size: 20px;
    padding: 30px;
}

#banner hr {
    width: 300px;
    opacity: 0.7;
    margin: 0 auto;
}

#banner h1 {
    text-align: center;
    font-size: 120px;
    padding: 30px;
}

/* 最新消息 */
#news {
    width: 1200px;
    margin: 0 auto;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* 格線間隙 */
    grid-gap: 50px;  
    padding: 100px 0;   
    text-align: center;
}

#news > div {
    background: #fff;
}

#news h3 {
    color: #aaa;
    padding: 20px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 5px;
}

#news hr {
    width: 350px;
    margin: 0 auto;
}

#news h1 {
    font-size: 32px;
    font-weight: 100;
    padding: 20px;
}

#news p {
    padding: 30px;
    text-align: left;
    line-height: 2;
    color: #aaa;
    height: 150px;
}

#news #news-left {
    height: 350px;
    background-image: url(./img/news-left.jpg);
}

#news #news-right {
    height: 350px;
    background-image: url(./img/news-right.jpg);
}

/* 按鈕樣式 */
a.button {
    text-decoration: none;
    color: #aaa;
    border: 1px solid #aaa;
    padding: 15px 80px;
    transition: 0.5s;
}

a.button:hover {
    color: white;
    background: #aaa;
}

/* 盒子區塊 */
#box {
    background-image: url(./img/box.jpg);
    background-attachment: fixed;
}

#box h2 {
    text-align: center;
    color: white;
    font-size: 32px;
    padding: 100px 0;
    /* 背景濾淨 模糊 */
    backdrop-filter: blur(5px) opacity(70%);
    letter-spacing: 10px;
    padding-left: 10px;
    font-weight: 100;
}

/* 關於我與聯絡我 */
#content {
    width: 1200px;
    margin: 0 auto;
}

#content h1 {
    text-align: center;
    font-weight: 100;
    color: #333;
    padding: 100px 0 50px;
    letter-spacing: 20px;
    padding-left: 20px;
}

#content div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
}

#content a {
    height: 350px;  
    /* 行高 = 高度 垂直置中 ※僅限於一行文字 */
    line-height: 350px; 
    text-decoration: none;
    color: white;
    font-size: 32px;
    text-align: center;
}

#content a span {
    /* 改為區塊元素：填滿 */
    display: block;
    backdrop-filter: blur(3px) opacity(90%);
    transition: 0.5s;
}

#content a span:hover {
    backdrop-filter: blur(3px) opacity(20%);
}

#content #about {
    background-image: url(./img/about.jpg);
}

#content #contact {
    background-image: url(./img/contact.jpg);
}

/* 地圖 */
#map {
    width: 100%;
    height: 350px;
    margin-top: 150px;
}

/* 頁尾 */
footer {
    background: #252525;
    text-align: center;
    padding: 100px 0;
    color: white;
}

footer #icon a {
    padding: 20px;
    /* 濾鏡 */
    filter: opacity(100%);
    transition: 0.5s;
}

footer #icon a:hover {
    filter: opacity(10%);
}

footer h2 {
    font-weight: 100;
    letter-spacing: 10px;
    padding-left: 10px;
    padding: 50px 0 40px;
    font-size: 30px;
}

footer p {
    padding: 20px;
    font-size: 10px;
    color: #aaa;
    letter-spacing: 3px;
    padding-left: 3px;
}

/* 關於我分頁 */
/* 橫幅 */
#banner-about {
    width: 100%;
    /* vh 螢幕高度 */
    height: 40vh;
    background-image: url(./img/banner-about.jpg);
    /* 背景-尺寸：填滿 - 50%、500px */
    background-size: cover;
    color: white;
    /* 背景-附著：固定 */
    background-attachment: fixed;
}

#banner-about nav {
    backdrop-filter: opacity(90%);
}

#banner-about h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 100;
    letter-spacing: 20px;
    padding-left: 20px;
    line-height: 20vh;
    backdrop-filter: opacity(90%);
    height: 30vh;
}